.visualstudio {
    background-image: url(https://img.freepik.com/free-vector/cartoon-style-cafe-front-shop-view_134830-697.jpg?w=996&t=st=1706614071~exp=1706614671~hmac=f1bf702e0a7088ab5777675972563ee90f2a7603b418e655f73a7e0a53057bce);

    height: 50px;
    background-repeat: no-repeat;
    
}
